<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length > 0) { %>
                <ul class="orders">
                   <% orders.forEach(order => { %>
                   <li class="orders__item">
                        <h2>Order Number : #<%= order._id%> - <a href="/orders/<%=order._id%>">Invoice</a></h2>
                        <ul class="orders__products">
                            <% order.products.forEach(p => {%>
                                <li class="orders__products-item"><%= p.product.title%> (<%= p.quantity%>) </li>
                            <%});%>
                        </ul>
                    </li>
                    <% });%>

                </ul>

            


            <%} else { %>
            <h1>Nothing there!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>